<div class="pagebody">
    <div id="wrappage">
        <!----Header----->
        <div id="wrapheader">
        </div>
        <!----Body----->
        <div data-ui-view='' style="min-height: 500px"></div>  
        <!----Footer----->
        <div id="wrapfooter" style="float: left;">
            <div style="display: inline-block;">
                <span style="margin-top: -2px; display: inline-block;">
                    © 1999-2016 Bochasanwasi Shri Akshar Purushottam Swaminarayan Sanstha (BAPS Swaminarayan Sanstha), Swaminarayan Aksharpith
                </span>
            </div>
        </div>
    </div>
</div>
