<div class="pagebody">
    <div id="wrappage">
        <!----Header----->
        <div id="wrapheader">
            <div class="pull-right">
                <ul class="topnav">
                    <li class="topnavitem">
                        <i onclick="window.history.back()" class="fa fa-reply fa-2x" aria-hidden="true" style="color: #B00700"></i>
                    </li>
                    <li class="topnavitem">
                        <i data-ui-sref="landing_page" class="fa fa-home fa-3x" aria-hidden="true" style="color: #B00700"></i>
                    </li>
                </ul>
            </div>
        </div>
        <!----Body----->
        <div data-ui-view='' style="min-height: 500px"></div>  
        <!----Footer----->
        <div id="wrapfooter">
            <div style="display: inline-block;">
                <span style="margin-top: -2px; display: inline-block;">
                    © 1999-2016 Bochasanwasi Shri Akshar Purushottam Swaminarayan Sanstha (BAPS Swaminarayan Sanstha), Swaminarayan Aksharpith
                </span>
            </div>
        </div>
    </div>
</div>
