<div class="pagebody">
    <div id="wrappage">
        <div id="wrapheader">

        </div>
        <div class="top_margin">
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail image1">
                    dskfkdls
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail image1">
                    dskfkdls
                </div>
            </div>
        </div>
        <div class="top_margin">
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail image1">
                    dskfkdls
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail image1">
                    dskfkdls
                </div>
            </div>
        </div>
        <div class="top_margin">
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail image1">
                    dskfkdls
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail image1">
                    dskfkdls
                </div>
            </div>
        </div>
        <div class="top_margin">
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail image1">
                    dskfkdls
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail image1">
                    dskfkdls
                </div>
            </div>
        </div>
    </div>
</div>
