<div class="container-fluid">               
    <div class="row">
        <h1 class="heading text-center">Abhishek Mandapam</h1> 
        <p class="para text-justify">
            Abhishek is a the ancient vedic ritual of pouring holy water upon the head of God or his murti to honour him and to attain his blessings for inner peace and prosperity.<br>
            Here,water is ceremoniously poured upon the murti of Shri Nilkanth Varni, the ttenage-yogi form of Bhagwan Swaminarayan.
        </p>
        <h1 class="heading text-center">Abhishek Prayers</h1> 
        <p class="para text-justify">
            May our lives be filled with the virtues of faith, fearlessness, humility, self-control, love and peace, and ,may our inner most prayers and wishes be fulfilled.
        </p>
    </div>
</div>
