<div class="container-fluid">        
        <div class="row">
<!--            <uib-carousel  active="active" interval="myInterval">
                <uib-slide ng-repeat="slide in slides" index="$index">
                    <img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;" />                    
                </uib-slide>
            </uib-carousel>-->
        </div>
    <div class="row">
        <h1 class="heading text-center">Bochasanwasi Shri Akshar Purushottam Swaminarayan Sanstha (BAPS)</h1> 
        <p class="para text-justify">
           The Bochasanwasi Shri Akshar Purushottam Swaminarayan Sanstha (BAPS),also known as BAPS Swaminarayan Sanstha, is an international socio-spiritual charitable NGO affiliated to the United Nations.Based on Vedic principles revealed by Bhagwan Swaminarayan, the BAPS serves people irrespective of caste, creed, class, community or country.Inspired by it's present spiritual leader.His Divine Holiness Pramukh Swami Maharaj, the BAPS, through its worldwide network of 3,900 centers, 1100 Mandir's, 55000 volunteers and a million member, serves society by performaing medical, environmental,tribal, education, moral, cultural, social, spiritual and other humanitarian activities.
        </p>
    </div>
</div>
