
<div class="top_margin">
    <div class="col-md-6 col-sm-6">
        <div class="img">
            <a data-ui-sref="corporate_site.delhi_akshardham">
                <img src="images/Akshardham/Delhi/1.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>NEW DELHI<br>
                            AKSHARDHAM</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="img">
            <a data-ui-sref="corporate_site.gandhinagar_akshardham">
                <img src="images/Akshardham/Gandhinagar/2.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>GANDHINAGAR<br>
                            AKSHARDHAM</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="">
    <div class="col-md-6 col-sm-6 top_margin">
        <div class="img">
            <a data-ui-sref="corporate_site.newjersey_akshardham">
                <img src="images/Akshardham/NewJersey/11.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>NEW JERSEY<br>
                        AKSHARDHAM
                        </b>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 top_margin">
        <div class="img">
            <a data-ui-sref="corporate_site.international_centers">
                <img src="images/Akshardham/InternationalCenters/houston7.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>INTERNATIONAL<br>
                            CENTERS</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

