<div class="container-fluid">        
    <!--    <div class="row">
            <uib-carousel  active="active" interval="myInterval">
                <uib-slide ng-repeat="slide in slides" index="$index">
                    <img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;" />
                    <div class="col-md-offset-1 overlay">
                        <h4>Slide {{$index + 1}}</h4>
                        <p><b>{{slide.text}}</b></p>
                        <p><b>To take an<br> Informed Decision</b></p>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>-->
    <div class="row">
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.delhi_akshardham">
                    <img src="images/img1.jpg" title="New Delhi Akshardham" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>New Delhi Akshardham</b></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.gandhinagar_akshardham">
                    <img src="images/img1.jpg" title="Gandhinagar Akshardham" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>GandhiNagar Akshardham</b></h1>
                    </div>
                </a>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.newjersey_akshardham">
                    <img src="images/img1.jpg" title="New Jersey Akshardham" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>New Jersey Akshardham</b></h1>
                    </div>
                </a>
            </div>
        </div>  
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.international_centers">
                    <img src="images/img1.jpg" title="International Centers" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>International Centers</b></h1>
                    </div>
                </a>
            </div>
        </div>  
    </div>    
</div>
