<div class="container-fluid">        
    <div class="row">
<!--        <uib-carousel  active="active" interval="myInterval">
            <uib-slide ng-repeat="slide in slides" index="$index">-->
                <img class="img-responsive" ng-src="/baps-nagpur/images/new-murti.png" style="margin:auto;" />
<!--            </uib-slide>
        </uib-carousel>-->
    </div>
    <div class="row">
        <h1 class="heading text-center">Bhagwan Swaminarayan</h1> 
        <p class="para text-justify">
            The founder of Swaminarayan Sampradaya,Bhagwan Swaminarayan, was born on 3 April 1781 in the village of Chhapaiya, near Ayodhya, in North India.He renounced his home at 11 to embark upon a seven-year spiritual pilgrimage barefoot accross the length and breadth of India.Eventually settling in Gujarat, he spent the next 30 years spearheading a socio-spiritual revolution. He introduced social reforms, served the poor and the needy, eradicated superstitions, addictions and blind faith, and prompted personal morality and spiritual character.
        </p>
        <p class="para text-justify">
            In a lifespan of 49 years, he enriched humanity with six majestic mandirs, and revealed the Vedic philosophy of Akshar-Purushottam. In his own lifetime, he was workshipped as the supreme God by hundreds of thousands of devotees. He explained that the ultimate goal of life is to realize oneself as atma and offer pristine devotion to God;this is attained through the blessings of a perfect guru.And he promised to remain ever present on earth through a succession of spiritually perfect gurus - Aksharbrahma Gunatitanand Swami, Bhagatji Maharaj, Shastriji Maharaj, Yogiji Maharaj, Divine Holiness Pramukh Swami Maharaj, and presently His divine Holiness Mahant Swami  Maharaj.The bhakti sampradaya, he founded and emerged as one of purest forms of Hinduism, internationally, known as BAPS. 
        </p>
    </div>
</div>