<div class="container-fluid">        
    <div class="row">
        <uib-carousel  active="active" interval="myInterval">
            <uib-slide ng-repeat="slide in slides" index="$index">
                <img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;" />
            </uib-slide>
        </uib-carousel>
    </div>
    <div class="row">
        <h1 class="heading text-center">Delhi Akshardham</h1> 
        <p class="para text-justify">
            'Akshardham' means the divine abode of God. It is hailed as an eternal place of devotion, purity and peace. Swaminarayan Akshardham at New Delhi is a Mandir – an abode of God, a Hindu house of worship, and a spiritual and cultural campus dedicated to devotion, learning and harmony. Timeless Hindu spiritual messages, vibrant devotional traditions and ancient architecture all are echoed in its art and architecture.The mandir is a humble tribute to Bhagwan Swaminarayan (1781- 1830), the avatars, devas and great sages of Hinduism. The traditionally-styled complex was inaugurated on 6 November 2005 with the blessings of HH Pramukh Swami Maharaj and through the devoted efforts of skilled artisans and volunteers.
        </p>
        <p class="para text-justify">
            Each element of Akshardham echoes with spirituality – the Mandir, the Exhibitions and even the Gardens. 
            The Akshardham mandir has over two hundred murtis, representing many of the spiritual stalwarts over many millennia. The spiritual premise of Akshardham is that each soul is potentially divine. Whether we are serving the family, the country our neighbors or all living beings the world over , each service can help one move towards divinity. Each prayer is a call towards improving oneself and moving closer to God. 
            A visit to Akshardham is a spiritually enriching experience. Whether it is in realising the power of prayer, in feeling the strength of non-violence, in being aware of the universal nature of Hinduism’s ancient principles, or just in admiring the beauty of God’s abode on Earth –- each element has a spiritual significance.
        </p>
        <p class="para text-justify">
            <h1 class="heading text-center">Facts</h1>
        <ul>
            <li>Opened 6th November 2005</li>
            <li>Constructed by Bochasanwasi Shri Akshar Purushottam Swaminarayan Sanstha (BAPS)</li>
            <li>Inspired by HH Yogiji Maharaj (1892-1971 CE)</li>
            <li>Created by His Holiness Pramukh Swami Maharaj</li>
            <li>More than 300,000,000 volunteer hours went into making the complex</li>
            <li>Over 8,000 volunteers from across the world participated in building it</li>
            <li>Mandir built from intricately carved sandstone and marble</li>
            <li>Exhibitions on Hinduism, including Bhagwan Swaminarayan's life and teachings such as prayer, compassion, and non-violence</li>
            <li>Open gardens, water bodies and step-well styled courtyard</li>            
        </ul>
        </p>
    </div>
</div>
