<div class="top_margin">
    <div class="col-md-6 col-sm-6">
        <div class="img">
            <a data-ui-sref="corporate_site.intro_baps_home">
                <img src="images/baps_1.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>Introduction <br>
                            BAPS</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="img">
            <a data-ui-sref="corporate_site.bhagwan_swaminarayan_introduction">
                <img src="images/logobanner.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>Introduction <br>
                            Bhagwan Swaminarayn</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="">
    <div class="col-md-6 col-sm-6 top_margin">
        <div class="img">
            <a data-ui-sref="corporate_site.mandir">
                <img src="images/baps_3.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>Mandir</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 top_margin">
        <div class="img">
            <a data-ui-sref="corporate_site.sacred_murti_timings">
                <img src="images/logobanner.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>Sacred Murti's & Timings</b></p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="">
    <div class="col-md-6 col-sm-6 top_margin">
        <div class="img">
            <a data-ui-sref="corporate_site.abhishek_mandapam">
                <img src="images/logobanner.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>Abhishekh <br>
                            Mandapam</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 top_margin">
        <div class="img">
            <a data-ui-sref="corporate_site.baps_products_facilities">
                <img src="images/logobanner.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>BAPS <br>
                            Products & Facilities</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="">
    <div class="col-md-6 col-sm-6 top_margin">
        <div class="img">
            <a data-ui-sref="corporate_site.children_activities">
                <img src="images/logobanner.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>Children Activities</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 top_margin">
        <div class="img">
            <a data-ui-sref="corporate_site.swaminarayan_school">
                <img src="images/logobanner.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>Swaminarayan <br>
                            School</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="">
    <div class="col-md-6 col-sm-6 top_margin">
        <div class="img">
            <a data-ui-sref="corporate_site.weekly_satsang_assembly">
                <img src="images/logobanner.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>Weekly Satsang <br>
                            Assemly In Mandir</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 top_margin">
        <div class="img">
            <a data-ui-sref="corporate_site.facts_figures">
                <img src="images/logobanner.jpg" class="img-responsive resolution img_opacity curve">
                <div class="text">
                    <p><b>Facts And <br>
                            Figure</b>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
<!--<div class="container-fluid">        
        <div class="row">
            <uib-carousel  active="active" interval="myInterval">
                <uib-slide ng-repeat="slide in slides" index="$index">
                    <img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;" />
                    <div class="col-md-offset-1 overlay">
                        <h4>Slide {{$index + 1}}</h4>
                        <p><b>{{slide.text}}</b></p>
                        <p><b>To take an<br> Informed Decision</b></p>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
    <div class="row">
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.intro_baps_home">
                    <img src="images/img1.jpg" title="BAPS Introduction" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>BAPS Introduction</b></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.bhagwan_swaminarayan_introduction">
                    <img src="images/img2.jpg" title="Bhagwan Swaminarayan Introduction" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>Bhagwan Swaminarayan Introduction</b></h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.mandir">
                    <img src="images/img1.jpg" title="Mandir" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>Mandir</b></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.sacred_murti_timings">
                    <img src="images/img2.jpg" title="Sacred Murti's & Aarti Timings" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>Sacred Murti's & Aarti Timings</b></h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.abhishek_mandapam">
                    <img src="images/img1.jpg" title="Abhishek Mandapam" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>Abhishek Mandapam</b></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.baps_products_facilities">
                    <img src="images/img2.jpg" title="BAPS Products & Facilities" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>BAPS Products & Facilities</b></h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.children_activities">
                    <img src="images/img1.jpg" title="Children Activities" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>Children Activities</b></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.swaminarayan_school">
                    <img src="images/img2.jpg" title="Swaminarayan School" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>Swaminarayan School</b></h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="padding col-sm-6 col-md-6">
            <div class="img">
                <a data-ui-sref="corporate_site.weekly_satsang_assembly">
                    <img src="images/img3.jpg" title="Weekly Satsang Assembly" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>Weekly Satsang Assembly In Mandir</b></h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="padding col-sm-6 col-md-6">
            <div class="">
                <div class="img">
                    <a data-ui-sref="corporate_site.facts_figures">
                        <img src="images/img4.jpg" title="Facts & Figures" class="img-responsive img_width img_opacity">
                        <div class="text">
                            <h1><b>Facts & Figures</b></h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>-->
