<div class="container-fluid">        
    <!--    <div class="row">
            <uib-carousel  active="active" interval="myInterval">
                <uib-slide ng-repeat="slide in slides" index="$index">
                    <img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;" />
                    <div class="col-md-offset-1 overlay">
                        <h4>Slide {{$index + 1}}</h4>
                        <p><b>{{slide.text}}</b></p>
                        <p><b>To take an<br> Informed Decision</b></p>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>-->
    <div class="row">
        <div class="padding col-sm-12 col-md-12">
            <div class="img">
                <a data-ui-sref="corporate_site.baps">
                    <img src="images/img1.jpg" title="BAPS Introduction" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>BAPS Introduction</b></h1>
                    </div>
                </a>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="padding col-sm-12 col-md-12">
            <div class="img">
                <a data-ui-sref="corporate_site.nagpur_mandir">
                    <img src="images/img1.jpg" title="Nagpur Mandir" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>Nagpur Mandir</b></h1>
                    </div>
                </a>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="padding col-sm-12 col-md-12">
            <div class="img">
                <a data-ui-sref="corporate_site.baps_international_centers_home">
                    <img src="images/img1.jpg" title="Akshardham & International Centers" class="img-responsive img_width img_opacity">
                    <div class="text">
                        <h1><b>Akshardham & International Centers</b></h1>
                    </div>
                </a>
            </div>
        </div>        
    </div>    
</div>
