<div class="container-fluid">               
    <div class="row">
        <h1 class="heading text-center">Mandir...</h1> 
        <p class="para text-justify">
         A mandir is a Hindu place of workship - a haven for spirituality and a place of paramount peace; a means to attain eternal peace and liberation. It is also a vibrant center for social, cultural, and spiritual activities. The mandir is built of pink stone from Rajasthan.Thousands of individual stone pieces were carved by hand and assembled like a giant 3-D jigsaw puzzle.
        </p>
        <h1 class="heading text-center">What is Mandir?</h1> 
        <p class="para text-justify">
            A Mandir is a center for attaining God<br>
            A Mandir is that which calms the mind<br>
            A Mandir is that which gives paramount peace<br>
            A Mandir is that which inspires a virtuous life<br>
            A Mandir is that which teaches mutual respect <br>
            A Mandir is that which protects India's lofty traditional values<br>
            A Mandir is that which strengthens our original identity (as atma).
        </p>
    </div>
</div>
