<div class="container-fluid">        
        <div class="row">
            <uib-carousel  active="active" interval="myInterval">
                <uib-slide ng-repeat="slide in slides" index="$index">
                    <img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;" />                    
                </uib-slide>
            </uib-carousel>
        </div>
    <div class="row">
        <h1 class="heading text-center">BAPS Shri Swaminarayan Mandir,Nagpur</h1> 
        <p class="para text-justify">
            Welcome to the BAPS Swaminarayan Mandir,Nagpur.A unique complex that beautifully showcases Hindu art, architecture, wisdom, heritage, values, and spirituality. The mandir is an abode of Bhagwan Swaminarayan (1781-1830 CE), and his ideal devotee Aksharbrahma Gunatitanand Swami, radiating peace, beauty, joy, and divinity.inspired by Pramukh Swami Maharaj, the mandir was completed in only 5 years and inaugurated on 7 October 2013.
        </p>
    </div>
</div>
