<div class="container-fluid">        
        <div class="row">
            <uib-carousel  active="active" interval="myInterval">
                <uib-slide ng-repeat="slide in slides" index="$index">
                    <img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;" />
                    <div class="col-md-offset-1 overlay">
                        <!--<h4>Slide {{$index + 1}}</h4>-->
                        <p><b>{{slide.text}}</b></p>
                        <p><b>To take an<br> Informed Decision</b></p>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
    <div class="row">
        <h1>Nagpur Mandir Trial Text</h1> 
    </div>
</div>
