<div class="container-fluid">        
        <div class="row">
            <uib-carousel  active="active" interval="myInterval">
                <uib-slide ng-repeat="slide in slides" index="$index">
                    <img class="img-responsive" ng-src="{{slide.image}}" style="margin:auto;" />
                </uib-slide>
            </uib-carousel>
        </div>
    <div class="row">
        <h1 class="heading text-center">New Jersey Akshardham</h1> 
        <p class="para text-justify">
            The BAPS Shri Swaminarayan mandir in Robbinsville in Central New Jersey is a Hindu place of worship built by the BAPS Swaminarayan Sanstha and consecrated by Pramukh Swami Maharaj. The BAPS Swaminarayan Sanstha, which is headed by Mahant Swami Maharaj, is a denomination of the Swaminarayan branch of Hinduism. The mandir is built of hand-carved Italian carrara marble, Turkish limestone and Indian pink stone. The mandir was constructed according to guidelines outlined in ancient Vedas, or Hindu scriptures. In addition to the mandir, the complex includes a congregation hall. The mandir is open daily to visitors and for worship.
        </p>
    </div>
</div>
