<div class="container-fluid">        
<!--        <div class="row">
            <uib-carousel  active="active" interval="myInterval">
                <uib-slide ng-repeat="slide in slides" index="$index">
                    <img class="rotateimg90,img-responsive" ng-src="{{slide.image}}" style="margin:auto;" />
                </uib-slide>
            </uib-carousel>
        </div>-->
    <div class="row">
        <h1 class="heading text-center">Sacred Murti</h1> 
        <p class="para text-justify">
           The ornate mandir, shrines have consecrated deities, permeating spiritual vibrations that inspire devotion and inner peace in all who come for darshan.
        </p>
        <h1 class="heading text-center">Arti</h1> 
        <p class="para text-justify">
           Arti is an ancient ritual of honouring God.It symbolizes the light of his glory which devotees welcome into their hearts.
        </p>
        <h1 class="heading text-center">Daily Arti Timings</h1> 
        <p class="para text-justify">
            Mangala Aarti : 6:00 AM.<br>
            Shangar Aarti : 7:30 AM.<br>
            Rajbhog Aarti : 11:15 AM.<br>
            Sandhya Aarti : 7:00 PM.<br>
            Shayan Aarti : 8:30 PM.<br>
        </p>
        <h1 class="heading text-center">Daily Darshan Timings</h1> 
        <p class="para text-justify">
            7:30 AM to 12:00 noon and 4:00 to 8:30 PM.
        </p>
    </div>
</div>
