/*.modal-bapsnagpur
{
    display:block;
}

.modal-bapsnagpur > .modal-backdrop
{
    height:100%;
    z-index:1060;
}

.modal-bapsnagpur > .modal-dialog
{
    z-index:1070;
}

body .modal-bapsnagpur
{
    overflow: auto;
}*/
