/********************** landing page **************************/
.landing_text {
    text-align: center;
    line-height: 650px;
    width: 100%;
}
button{
    margin:auto;
    display:block;
}

.landing_text video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.4;
}

.landing_btn {
    font-size: -webkit-xxx-large;
    color: brown;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 15px;
}

/********************** main page imp css **************************/
.pagebody { 
   background: #fff9ee url(../images/background.jpg) no-repeat fixed center top;
   overflow: hidden;
}

#wrappage{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: #fff;
    border: 0 solid #E4C79F;
}

#wrapheader{
    height: 88px;
    color: #777;
    background-image: url(../images/logobanner.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.top_margin{
    margin-top: 25px;
}
/********************* First Page **************************/
.content_text {
    text-align: center;
    line-height: 650px;
    width: 100%;
}
.image1{
    background-image: url(../images/logobanner.jpg);
    height: 150px;
    opacity: 0.6;
}
