/********************** landing page **************************/
.landing_text {
    text-align: center;
    line-height: 675px;
    width: 100%;
}
button{
    margin:auto;
    display:block;
}

.landing_text video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.4;
}

.landing_btn {
    font-size: -webkit-xxx-large;
    color: brown;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 15px;
}

/********************** main page imp css **************************/
.pagebody { 
    background: #fff9ee url(../images/background.jpg) no-repeat fixed center top;
    overflow: hidden;
}

#wrappage{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: #F7EEDD;
    border: 0 solid #E4C79F;
}

#wrapheader{
    height: 88px;
    color: #777;
    background-image: url(../images/logobanner.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.topnav {
    padding-top: 30px
}

li.topnavitem {
    list-style-type: none;
    margin-top: 0;
    padding: 10px;
    display: inline;
}

#wrapfooter {
    background-color: #E0D1A6;
    bottom: 0;
    color: #414141;
    padding: 4px 0;
    width: 1000px;
    text-align: center;
    margin-top: 15px;
}

.top_margin{
    margin-top: 25px;
}

.bottom_margin{
    margin-bottom: 25px;
}

/********************* content **************************/
.heading{
    color: #B00700;
}
.para{
    padding: 0px 45px;
    font-size: 16px;
    color: chocolate;
}
/********************* First Page **************************/
.img_opacity{
    opacity: 0.5;
}

.resolution{
    width: 100%;
    height: 270px;
}
.curve{
    border-radius: 20px;
}

.img {
    position: relative;
}

.text {
    width:100%;
    position: absolute;
    bottom:25%;
    left:0;
    padding:1rem;
    font-size: 24px;
    text-align: center;
    color: #B00702;
}
.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
